@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

@theme {
  --color-menu: #242C35;
  --color-graphics: #1B222B;
  --color-form: #424B5380;
  --color-subform: #424B5366;
  --color-blueberry: #007ACC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Nunito sans-serif weight 300;
}
